// wrapper for grid and items
.base-wrap {
  margin: 0 auto;
  position: relative;
  max-width: 1640px;

  @include mobile {
    padding: 0 20px;
  }

  @include tablet {
    padding: 0 60px;
  }

  @include desktop {
    padding: 0 100px;
  }

  @include widescreen {
    padding: 0;
  }
}

body {
  background: linear-gradient(to bottom right, #222831, #393e46);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    background: linear-gradient(to bottom right, #222831, #393e46);
    z-index: -1;
  }
}

.text-input {
  display: inline-block;
  height: 40px;
  line-height: 28px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 1px solid #29a19c;
  font-size: 18px;
  outline: none;
  padding: 0 10px;
  font-family: "Source Code Pro", monospace, Arial;

  @include mobile {
    // width: 430px;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .8s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.15) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.15) }
  100% { transform: scale(0) }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
